/* media-viewer */
.media-viewer-cont{
	.modal-content{
		border-radius: 16px;
    	.modal-body{
            .prevbtn{
                position: absolute;
                width: 40px;
                height: 40px;
                left: 56px;
                top: 190px;
                background: #F9FCFF;
                border: 1px solid #CBE3FF;
                box-sizing: border-box;
                border-radius: 8px;
                z-index: 1;
                filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.32));
                transform: matrix(-1, 0, 0, 1, 0, 0);
                cursor: pointer;
                padding: 0; 
                svg{
                    transform: rotate(180deg);
                }
            }
            .prevbtn:hover{
                background: #CBE3FF;
            }
            .nextbtn{
                position: absolute;
                width: 40px;
                height: 40px;
                right: 56px;
                top: 190px;
                background: #F9FCFF;
                border: 1px solid #CBE3FF;
                box-sizing: border-box;
                border-radius: 8px;
                z-index: 1;
                filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.32));
                transform: matrix(-1, 0, 0, 1, 0, 0);
                cursor: pointer;
                padding: 0;
            }
            .nextbtn:hover{
                background: #CBE3FF;
            }
            .image-preview-cont{
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                width: 100%;
                //width: 766px;
                height: 420px;
                img{
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%); 
                    border-radius: 8px;
                }
                img.land{
                    height: 100%;
                    width: auto;
                }
                img.port{
                    height: auto;
                    width: 100%;       
                }
                .caption-cont{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.32);
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    padding: 24px;
                    color: #fff;
                    p:last-child{
                        margin-bottom: 0;
                    }
                    .col{
                        padding-right: 20%;
                    } 
                    .image-counter{
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                        font-size: 14px;
                    }
                }
            } 
        } 
    	.modal-footer{
            .media-gallery-cont{
				position: relative;
				height: 168px;
				display: block;
				width: 100%;
    			overflow: hidden;
                ul{
                    overflow-x: scroll;
                    /* overflow-y: hidden; */
                    -webkit-overflow-scrolling: touch;
                    white-space: nowrap;
                    padding: 5px 0;
                    height: 220px;
                    li{
                        width: 162px;
                        height: 162px;
                        overflow: hidden;
                        display: inline-block;
                        position: relative;
                        border-radius: 8px; 
                        margin-right: 19px;
                        margin-bottom: 19px;
                        cursor: pointer;
                        a{
                            display: block;
                            img.land{
                                display: block;
                                position: absolute;
                                width: auto;
                                height: 162px;
                                left: 50%;
                                transform: translate(-50%,0);                
                            }
                            img.port{
                                display: block;
                                position: absolute;
                                width: 162px;
                                height: auto;
                                left: 50%;
                                transform: translate(-50%,0);             
                            }
                        }
                    }
                    li:hover{
                        border: 4px solid #277BDE;
                        filter: drop-shadow(0px 4px 8px rgba(39, 123, 222, 0.16));
                        a{
                            img.land{
                                margin-top: -4px;
                            }
                            img.port{
                                margin-top: -4px;
                            }
                        }
                    }
                    li.active{
                        border: 4px solid #277BDE;
                        filter: drop-shadow(0px 4px 8px rgba(39, 123, 222, 0.16));
                    }
                    li:last-child{
                        margin-right: 0px
                    }
                }
            }
        }
	}
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    .media-viewer-cont{
        .modal-content{
            .modal-body{
                .image-preview-cont{
                    width: 100%;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {  }

